/* Global reset to remove default white margins */
:global(html), :global(body), :global(#root) {
  margin: 0;
  padding: 0;
  height: 100%;
}

.inputPage {
  background: linear-gradient(to bottom, #0F5378, #0F557A, #1B9ADE);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.inputContainer {
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
  padding: 36px 60px;
  width: 90%;
  max-width: 800px;
  min-height: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 0 auto;    /* Removed top margin to eliminate white gap */
  position: relative;
  transition: padding 0.3s;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header h2 {
  font-weight: bold;
  color: #f6f8fa;
  margin: 0;
  font-size: 26px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: left;
  font-family: 'Merriweather', serif;
  padding-bottom: 15px;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #D9D9D9;
}

.inputGroup label {
  font-weight: bold;
  color: #003566;
  margin-right: 30px;
  white-space: nowrap;
  font-size: 0.9rem;
  width: 250px;
}

.inputField {
  flex: 1;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  height: 30px;
  margin-right: 10px;
}

select.inputField {
  background-color: white;
  color: #003566;
  padding: 6px 10px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  font-family: Arial, sans-serif;
  box-shadow: none;
}

.buttonGroup {
  text-align: center;
  margin-top: 20px;
}


.toastCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  min-width: 300px;
}



.buttonGroup {
  display: flex;
  justify-content: flex-end; 
  gap: 2px!important;
}
Button{
  background-color:  #3DA4C6 !important;
  border: none;
  
}

@media (max-width: 768px) {
  .inputContainer {
    padding: 20px;
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 8px;
  }

  .inputGroup label {
    width: 100%;
    margin: 0 0 8px 0;
    font-size: 1rem;
  }

  .buttonGroup {
    text-align: center;
    margin-top: 20px;
  }
}




@media (max-width: 992px) and (min-width: 769px) {
  .inputContainer {
    padding: 30px 40px;
  }
}